.title{
    display:block;
    justify-content: center;
    margin:auto;
    text-align: center;
}
.review{
width:100%;
background-color:whitesmoke;
display:flex;
justify-content:space-evenly;
}
.r1{
    margin-top:60px;
    border:1px solid lightgrey;
    display:block;
    justify-content:center;
    background-color: white;
    width:20%;
    padding:20px;
}
.rev1{
    display:block;
    width:60px;
    height:60px;
    border-radius: 50%;
    margin-top:10px;
}
.state1{
display:inline-block;
margin-right:100px;
margin-left: 20px;
text-align: center;
font-size: 10px;

}
.say{
    display:block;
    align-items:flex-end;
    box-sizing: border-box;
    margin-top:40px;
}
.box{
    display:flex;
}
.star{
    margin-left:10px;
    margin-top:40px;
}
.studentfile{
    background-color: whitesmoke;
    padding:70px 0;

}
